# Supabase
VITE_SUPABASE_URL=https://nhpkkucntpnnvhzffvch.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ocGtrdWNudHBubnZoemZmdmNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI4OTk0MDgsImV4cCI6MjA2ODQ3NTQwOH0.m2C_yK-1y-R4g6L3-t9C5159yR5F6B7K-lU3oN-5Okk


# Sentry (add in Week 2)
VITE_SENTRY_DSN=

# Stripe (add in Week 7)
VITE_STRIPE_PUBLISHABLE_KEY=

# App
VITE_APP_NAME=Ultimate
VITE_APP_URL=https://ultimate.vercel.app
